@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sample University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to my Sample University</h2>
        <p>
            Here is a sample paragraph space to display information
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sample Column 2</h2>
        <p>Sample paragraph text 2</p>
    </div>
    <div class="col-md-4">
        <h2>Sample Column 3</h2>
        <p>Sample paragraph text 3</p>
    </div>
</div>